html, body {
    height: 100%;
    background-color: #fefefe;
}

body {
    position: relative;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
    background-color: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
button, input[type="number"]{
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
}

#code-lock-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    width: 100%;
}

#display-container {
    display: flex;
    margin-bottom: 50px;
}

.display-lock-closed {
    border: 1px solid #c40202 !important;
}

.display-lock-opened {
    border: 1px solid #02c402 !important;
}

#display {
    border: 1px solid #8A8A8A;
    /*background-color: red !important;*/
    width: 50%;
    padding-left:0.4em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    text-align: center;
    margin: 0 auto;
    font-family: 'Gruppo', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 4em;
    letter-spacing: 0.4em;
    background-color: #fff;
}

#signal-icon {
    fill: #adadad;
    position: absolute;
    right: 2em;
    top: 2em;
}

.signal-icon-active {
    fill: #6302c4 !important;
}

#buttons-container {
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns:auto auto auto;
    grid-auto-rows: auto auto auto auto;
}

.button {
    cursor: pointer;
    color: #373737;
    font-family: Roboto, sans-serif;
    font-size: 2em;
    width: 2.2em;
    height: 2.2em;
    background: #FEFEFE;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 33px;
    margin: 10px auto;
    text-align: center;
}

.button:hover {
    background-color: #f0f0f0;
}

#control-btn, #signal-btn {
    display: flex;
    justify-content: center;
}

#control-btn-icon {
    width: 0.9em;
}

#signal-btn-icon {
    width: 0.9em;
}

@media only screen and (max-width: 450px) {
    #code-lock-container {
        left: 10%;
        transform: translate(-10%, -50%);
    }

    #display {
        letter-spacing: 0.2em;
        padding-left:0.2em;
    }
}